/* Write CSS here */body{
    background-image:url(https://images.unsplash.com/photo-1699354510909-6e5c4bbf2b60?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    
   } 
   #title,#description{
    text-align:center;
   }
   main{
    background-color: rgba(165, 42, 42, 0.749);
    width: 46%;
    margin-left:auto;
    margin-right:auto;
    align-items:center;
    padding: 30px;
    
   }
   .name .email .age{
    display: block;
   }
   #name ,#email ,#number{
    width:100%;
    height:25px;
    /*margin: 7px;*/
   }
   .option  ,.selector,.levels {
    display: block;
    /*height: 25px;*/
    margin-top: 10px;
   }

   #dropdown{
    width:100%;
    height: 25px;
    }
    #comment{
        display: block;
        width:100%;
    }
    .dive-mainn{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .submit{
        text-align:center;
       
    }
    button{
        padding:10px 20px;
        margin-top: 2px;
        border-radius: 3px;
        border:solid  rgb(96, 96, 173);
        background-color:rgb(96, 96, 173)
        
    }
